<link rel="import" href="@@vendorUrl/polymer/polymer.html">

<dom-module id="tweet-list">
	<template>
		<style>
			:host {
				padding: 10px;
				display: block;
				flex-basis: 25%;
				min-width: 300px;
				overflow-y: scroll;
				overflow-x: hidden;
				box-sizing: border-box;
			}
			li {
				display: flex;
				margin: 0 0 20px 0;
				align-items: flex-start;
			}
			.profile {
				width: 48px;
				height: 48px;
			}
			.body {
				flex-grow: 1;
				padding: 0 0 0 10px;
			}
			.images {
				width: 100%;
				display: flex;
				margin: 15px 0 0 0;
				align-items: flex-start;
			}
				.images li {
					flex-grow: 1;
				}
				.images img {
					width: 100%;
				}
		</style>

		<template is="dom-repeat" items="{{tweets}}">
			<li class="tweet {{item.done ? 'show' : 'hide'}}">
				<img class="profile" src="{{item.user.profile_image_url}}" />
				<div class="body">
					<h4><a href="https://twitter.com/{{item.user.screen_name}}">{{item.user.screen_name}}</a> <span class="date">{{item.created_at}}</span></h4>
					<p>{{item.formatted_text}}</p>
					<ul class="images">
						<template is="dom-repeat" items="{{item.media}}">
							<li><a href="{{item.expanded_url}}"><img src="{{item.media_url}}" /></a></li>
						</template>
					</ul>
				</div>
			</li>
		</template>
	</template>

	<script>
		Polymer({
			is: 'tweet-list',

			properties: {
				tweets: {
					type: Array,
					value: function() {
						return [];
					},
					observer: '_tweetsChanged'
				},
			},

			_tweetsChanged: function(newValue, oldValue) {
				console.log('CHANGE', newValue, oldValue);
				newValue.forEach(function(value) {
					if (value.done === undefined) {
						value.done = false;
					}
				}.bind(this));
			},

			setActive: function(active) {
				//
			},

			ready: function() {
				var observer = new MutationObserver(function(mutations) {
					mutations.forEach(function(mutation) {
						for (var i = 0, l = mutation.addedNodes.length; i < l; i++) {
							if (mutation.addedNodes[i].nodeName === 'LI') {
								var p = mutation.addedNodes[i].querySelector('p');
								p.innerHTML = p.innerText;
							}
						}
					}.bind(this));
				}.bind(this));

				observer.observe(this, {childList: true});
			},
		});
	</script>
</dom-module>
