<link rel="import" href="@@vendorUrl/polymer/polymer.html">
<link rel="import" href="/components/tweet-item.html" />

<dom-module id="tweet-list">
	<template>
		<style>
			:host {
				padding: 10px;
				display: block;
				flex-basis: 25%;
				min-width: 300px;
				overflow-y: scroll;
				overflow-x: hidden;
				box-sizing: border-box;
			}
		</style>

		<template is="dom-repeat" items="{{tweets}}">
			<tweet-item
				profile-image-url="{{item.user.profile_image_url}}"
				screen-name="{{item.user.screen_name}}"
				created-at="{{item.created_at}}"
				formatted-text="{{item.formatted_text}}"
				media="{{item.media}}">
			</tweet-item>
		</template>
	</template>

	<script>
		Polymer({
			is: 'tweet-list',

			properties: {
				tweets: {
					type: Array,
					value: function() {
						return [];
					},
					observer: '_tweetsChanged',
				},
			},

			_tweetsChanged: function(newValue, oldValue) {
				var children = this.querySelectorAll('tweet-item');
				for (var i = 0, l = this.tweets.length; i < l; i++) {
					this.tweets[i].element = children[i];
				}
			},

			setActive: function(active) {
				console.log('SET', active, this);
				for (var i = active, l = this.tweets.length; i < l; i++) {
					this.tweets[i].element.revealed = true;
				}
			},

			ready: function() {
				this.addEventListener('click', function(ev) {
					var target = ev.target.parentElement;
					if (target.nodeName === 'TWEET-ITEM') {
						target.isExpanded = true;
					}
				}.bind(this));
			},
		});
	</script>
</dom-module>
