/*
	RESET
*/
html, body, header, div, span, section, iframe, progress, button, ol, ul, li, h4, img, p, form, input, label {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	text-decoration: none;
}

/*
	GENERAL
*/
html, body {
	height: 100%;
}

body {
	display: flex;
	background: #EEE;
	line-height: 150%;
}

/*
	RESPONSIVE IFRAME
*/
.embed-container {
	height: 0 !important;
	position: relative;
	padding-bottom: 56.25% !important;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

/*
	FORM
*/
.player-form {
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}
	.player-form input,
	.player-form label {
		width: 100%;
		display: block;
		line-height: 150%;
		margin: 0 0 10px 0;
	}
	.player-form input {
		padding: 6px;
		font-size: 1.2em;
		border-radius: 3px;
		margin: 0 0 18px 0;
		border: 1px solid #AAA;
		box-sizing: border-box;
	}
	.player-form input[type="submit"] {
		cursor: pointer;
		font-size: 1.5em;
		background: #FFF;
		margin: 30px 0 0 0;
		border: 1px solid #AAA;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

/*
	CONTROLS
*/
.controls {
	width: 100%;
	height: 40px;
	display: flex;
}
	.controls button {
		width: 40px;
		cursor: pointer;
		overflow: hidden;
		text-indent: -99999px;
		background: #FFF no-repeat 0 0;
		background-size: contain;
	}
		.controls button[data-state="pause"] {
			background-image: url(/img/play.png);
		}
		.controls button[data-state="play"] {
			background-image: url(/img/pause.png);
		}
	.controls .progress {
		height: 100%;
		flex-grow: 1;
		cursor: pointer;
		background: #FFF;
		position: relative;
	}
	.controls .track {
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		position: absolute;
		pointer-events: none;
		background: rgba(0, 0, 0, 0.5);
		transition: width 0.1 ease-out;
	}
	.controls progress {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
		.controls progress,
		.controls progress::-webkit-progress-bar {
			color: #17BAB3;
			background: transparent;
		}
		.controls progress::-webkit-progress-value,
		.controls progress::-moz-progress-bar,
		.controls progress::-ms-fill {
			background: #17BAB3;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
		}
	.progress svg {
		top: 0;
		left: 0;
		opacity: 0.3;
		position: absolute;
		pointer-events: none;
	}

/*
	MEDIA
*/
#media {
	flex-grow: 1;
	position: relative;
}
	#media .embed-container {
		pointer-events: none;
	}

#player {
	pointer-events: none;
}

.loader {
	top: 0;
	left: 0;
	opacity: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	text-indent: -99999px;
	transition: opacity 0.2s ease-out;
	background: rgba(33, 150, 243, 0.75);
	background: linear-gradient(to top left, rgba(76, 184, 196, 0.75) -40%, rgba(33, 150, 243, 0.75));
}
	.loader.hide {
		opacity: 0;
		pointer-events: none;
	}
		.loader.hide .svgpath {
			animation: none;
		}
	.loader .thumper {
		top: 50%;
		left: 50%;
		width: 25%;
		max-width: 200px;
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
	}
	.loader .svgpath {
		z-index: 2;
		stroke: #18FFFF;
		stroke-width: 1.5px;
		stroke-linecap: round;
		stroke-dasharray: 1000;
		fill: rgba(255,255,255,0);
		animation: dash 2.5s reverse ease-in-out infinite;
	}
	.loader .svgbg {
		z-index: 1;
		fill: rgba(255,255,255,0.2);
	}
	@keyframes dash {
		to {
			stroke-dashoffset: 2000;
		}
	}

/*
	TWEETS
*/
#tweets {
	flex-basis: 25%;
	overflow: scroll;
	min-width: 300px;
}
.tweet {
	display: flex;
	align-items: flex-start;
}
	.tweet .profile {
		width: 48px;
		height: 48px;
	}
	.tweet .body {
		flex-grow: 1;
	}
	.tweet .images {
		width: 100%;
		display: flex;
		align-items: flex-start;
	}
		.tweet .images li {
			flex-grow: 1;
		}
		.tweet .images img {
			width: 100%;
		}

/*
	MEDIA QUERIES
*/
@media (orientation: portrait) {
	body {
		flex-direction: column;
	}
	#media {
		flex-grow: 0;
	}
	#tweets {
		min-width: 0;
		flex-basis: auto;
	}
}
