<!DOCTYPE html>
<html>
<head>
	<title>Rechorus</title>
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
	<h1>Rechorus</h1>
	<form action="/player/" method="GET" class="player-form">
		<label for="url">YouTube Video URL</label>
		<input type="url" name="url" id="url" value="https://www.youtube.com/watch?v=ej3ioOneTy8" placeholder="https://www.youtube.com/watch?v=ej3ioOneTy8" />
		<label for="start">Event Start Time</label>
		<input type="datetime" name="start" id="start" value="2016-03-27 22:23:00" placeholder="2016-01-01 00:00:00" />
		<input type="submit" value="Let's go!" />
	</form>
</body>
</html>
