<!DOCTYPE html>
<html>
<head>
	<!-- Site stuff -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Page stuff -->
	<title>@@title</title>
	<meta name="description" content="@@description" />
	<meta name="keywords" content="@@keywords" />
	<link rel="canonical" href="@@url/" />

	<!-- Facebook stuff -->
	<meta property="og:site_name" content="@@title" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="@@title" />
	<meta property="og:url" content="@@url" />
	<meta property="og:description" content="@@description" />
	<meta property="og:locale" content="en_US" />

	<!-- Twitter stuff -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@@twitterSite" />
	<meta name="twitter:creator" content="@@twitterCreator">
	<meta name="twitter:title" content="@@title" />
	<meta name="twitter:description" content="@@description" />

	<!-- JSON-LD stuff -->
	<script type="application/ld+json">
		@@jsonLd
	</script>

	<!-- Style stuff -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<!-- inject:css --><!-- endinject -->
</head>
<body>
	<h1>Rechorus</h1>
	<a href="/connect/">Connect</a>
</body>
</html>
